
.ipynb_checkpoints/simple-display-checkpoint.ipynb
.ipynb_checkpoints/statistical-moments-checkpoint.ipynb
.ipynb_checkpoints/linear-correlation-analysis-checkpoint.ipynb
.ipynb_checkpoints/variance-and-measures-of-dispersion-checkpoint.ipynb
.ipynb_checkpoints/instability-of-parameter-estimates-checkpoint.ipynb
